<ActionBar title="nativescript-adobe-experience-cloud" class="action-bar"> </ActionBar>
<StackLayout class="p-20">
  <ScrollView class="h-full">
    <StackLayout>
      <Button text="Click me for action" (tap)="demoShared.action()"></Button>
      <Button text="Click me for a new state" (tap)="demoShared.nextState()"></Button>
      <Button text="Click me to optIn" (tap)="demoShared.optIn()"></Button>
      <Button text="Click me to optOut" (tap)="demoShared.optOut()"></Button>
    </StackLayout>
  </ScrollView>
</StackLayout>
