<!--<ActionBar title="nativescript-urban-airship" class="action-bar"> </ActionBar>-->
<!--<StackLayout class="p-20">-->
<!--  <ScrollView class="h-full">-->
<!--    <StackLayout>-->
<!--      <Label [text]="demoShared.message" class="message" textWrap="true"></Label>-->

<!--      <StackLayout class="test-block">-->
<!--        <Button text="Register this user MyTestNameUserID10" (tap)="demoShared.registerClicked()"></Button>-->
<!--        <Button text="Register this user MyTestNameUserID11" (tap)="demoShared.registerClickedAnotherUser()"></Button>-->
<!--        <Button text="Register this user MyTestNameUserID13" (tap)="demoShared.registerClickedAnotherUser13()"></Button>-->
<!--        <Button text="Register this user MyTestNameUserID14" (tap)="demoShared.registerClickedAnotherUser14()"></Button>-->
<!--        <Button text="Unregister user" (tap)="demoShared.unregisterClicked()"></Button>-->
<!--      </StackLayout>-->

<!--      <Button text="Opt in" (tap)="demoShared.optIn()"></Button>-->
<!--      <Button text="Opt out" (tap)="demoShared.optOut()"></Button>-->

<!--      <Button text="Check user opt in status" (tap)="demoShared.notificationStatus()"></Button>-->

<!--      <Button text="Current channelID" (tap)="demoShared.channelID()"></Button>-->

<!--      <Button text="Reset Notification badge (ios only)" (tap)="demoShared.resetBadgeCount()"></Button>-->
<!--    </StackLayout>-->
<!--  </ScrollView>-->
<!--</StackLayout>-->
